:root {
  font-family: "Montserrat";
  font-style: normal;
  --primary-font-weight: 700;
  --secondary-font-weight: 400;
  --primary-bcg-color: rgba(185, 234, 234, 0.623);
  --secondary-bcg-color:white;
  --primary-font-size: 1.25rem;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container__header-sidebar-main-footer {
  display: flex;
  flex-direction: column;
}

.contanair__sidebar-main {
  display: flex;
  /* border: 2px double black; */
}

.header {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content:space-around ;
  align-items: center;
  background-color: var(--primary-bcg-color);
}

.header__logo {
  display: flex;
  height: 100%;
}

.header__name-company {
  font-size: 25px;
  font-weight: 700;
  color: rgba(15, 11, 19, 0.778);
}

.header__menu-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--primary-font-size);
  width: 100px;
  background-color:var(--primary-bcg-color);
  border-radius: 3px;
}

.header_btn-img {
  width: 25px;
}

.header__menu-search {
  display: flex;
  font-size: 20px;
}

.header__search-btn, .header__search-window {
  font-size: 20px;
  border-radius: 3px;
  
}

.header__search-btn {
  background-color:var(--primary-bcg-color);
}

.nav__menu {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  position: relative;
}

.nav__link {
  display: flex;
  justify-content: center;
  width: 100px; 
  text-align: center;
}

.nav__list:hover::after {
  content:attr(data-title);
  position: absolute;
  top: 100%;
  z-index: 1;
}

.nav__icon {
  width: 30%;
}

.sidebar {
  width: 20rem;
}

.feature {
  padding: 2rem;
}

.sidebar__name-list, .sidebar__control-list, .sidebar__engine-list {
  padding: 0.2rem;
  list-style-type: none;
}

.main {
  display: flex;
  /* display: grid; */
  width: 100%;
    /* grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(2, 700px); */
  flex-wrap: wrap;
}

.main__card-product {
  display: flex;
  width: 20rem;
  height: 30rem;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.main__card-photo {
  display: flex;
  height: 15rem;
  justify-content: space-evenly;
}

.main__card-photo-img {
  height: 100%;
  width: 100%;
}

.main__product-description, .main__card-ptoduct-title {
  /* background: #c8ad90; */
  padding: 0.5rem;
  /* width: 200px; */
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.main__product-description::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, transparent, #ffffffcf 50%);
}

.main__card-price {
  text-align: center;
}

.main_button-wrapper {
  display: flex;
  justify-content: space-between;
}

.main__btn-buy, .main__btn-favorites {
  width: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--primary-bcg-color);
  border-radius: 3px;
  font-size: var(--primary-font-size);
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-bcg-color);
}

.footer__widget {
  padding: 1rem;
}

.footer__widget-list {
  list-style-type: none;
  padding: 5px;
}

.footer__widget-link {
  text-decoration: none;
  color: black;
}

.footer__widget-link:hover {
  color: red;
}

.footer__widget-name {
  text-align: center;
}
